#Recruit {
  background: url("../../Static/img/Recruit_bg.png") center/cover no-repeat;
  //   height: 100vh;
  padding-bottom: 32px;
  #RecruitFrame {
    background: rgba(35, 34, 34, 0.62);
    border-radius: 10px;
    p {
      line-height: 90%;
    }
    .gen_list {
      background: #ffcaca;
      margin-left: 142px;
      margin-right: 115px;
      border-radius: 8px;
      margin-top: 45px;
      overflow: hidden;

      &.gen_list_auth {
        cursor: pointer;
      }
      .activeTab {
        background: red;
      }
      @media (max-width: 1440px) {
        margin-left: 90px;
        margin-right: 90px;
        margin-top: 35px;
      }
      @media (max-width: 750px) {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 11px;
      }
      li:not(:last-child) {
        position: relative;
        &::after {
          content: "";
          width: 10px;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          background: #000000;
          height: 75%;
          @media (max-width: 1440px) {
            width: 5px;
          }
        }
      }
    }
    .recruit_human_img_wrapper {
      padding-top: 41px;
      padding-bottom: 57px;
      .recruit_human_img {
        margin-right: 176px;
        @media (max-width: 1440px) {
          margin-right: 31px;
        }
      }
    }
    .tabContent {
      .btn_control_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        * {
          text-transform: uppercase;
        }
        button {
          color: #000;
          @media (max-width: 1440px) {
            width: 54px;
            height: 42px;
            svg {
              width: inherit;
              height: inherit;
            }
          }
        }
        .mint_result {
          background: #ffcaca;
          margin-left: 89px;
          margin-right: 89px;
          width: 288px;
          height: 68px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 4px solid #d40000;
          border-radius: 4px;
          font-size: 40px;
          @media (max-width: 1440px) {
            font-size: 24px;
            width: 146px;
            height: 42px;
            margin-left: 33px;
            margin-right: 33px;
          }
        }
      }
    }
  }
}
