#Stake {
  background: url("../../Static/img/stake_bg.png") center top/cover no-repeat;
  //   height: 100vh;
  padding-bottom: 32px;
  #StakeFrame {
    background: rgba(35, 34, 34, 0.49);
    border-radius: 10px;
    padding: 30px;
    * {
        text-transform: uppercase;
      }
    .stake_tab_wrapper {
     
      li.list_space {
        margin-right: 53px;
      }
      svg {
        margin-left: 32px;
        margin-right: 32px;
      }
      .tab_btn {
        color: rgba(255, 255, 255, 0.59);
        &.active_tab {
          color: #fff;
          path {
            fill: #fff;
          }
        }
      }
    }
    .tab_content_wrapper{
        .btn_no_gold{
            background: url('../../Static/img/stake_btn.png') center/100% 100% no-repeat;
            width: 189.22px;
            height: 143.58px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
  }
}
