#Marketplace {
  position: relative;
  padding-bottom: 32px;
  background: rgba(0, 0, 0, 0.6);
}

#Marketplace::after {
  background: url("../../Static/img/marketplace_bg.png") center/cover no-repeat;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0px;
  left: 0px;
  z-index: -1;
}

#Marketplace * {
  text-transform: uppercase;
}

#Marketplace .card_control_list li {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #fff;
}

#Marketplace .card_control_list li:not(:last-child) {
  margin-right: 19px;
}

@media (max-width: 750px) {
  #Marketplace .card_control_list li:not(:last-child) {
    margin-right: 6px;
  }
}

@media (max-width: 750px) {
  #Marketplace .gold_icon {
    width: 10px;
    width: 10px;
  }
}

#Marketplace .col_wrapper {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
}

@media (max-width: 750px) {
  #Marketplace .col_wrapper {
    padding: 10px;
  }
}

#Marketplace .col_wrapper .img_icon {
  max-height: 234px;
}

@media (max-width: 750px) {
  #Marketplace .col_wrapper .img_icon {
    max-height: 105px;
  }
}

#Marketplace .col_wrapper * {
  text-transform: uppercase;
}

#Marketplace .col_wrapper i {
  font-style: normal;
  color: rgba(18, 18, 18, 0.71);
}

#Marketplace .first_col {
  padding-right: 76px;
}

@media (max-width: 991px) {
  #Marketplace .first_col {
    padding-right: 0px;
  }
}

#Marketplace .form_group select {
  width: 100%;
  height: 40px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-left: 45px;
  padding-right: 45px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 750px) {
  #Marketplace .form_group select {
    padding-left: 5px;
    padding-right: 34px;
  }
}

#Marketplace .form_group:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 750px) {
  #Marketplace .form_group:not(:last-child) {
    margin-right: 6px;
  }
}

#Marketplace svg {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#Marketplace .select_event {
  pointer-events: visible;
  cursor: pointer;
}

#Marketplace .form_price_select_group .form_select_dropdown {
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  position: absolute;
  pointer-events: visible;
  width: 100%;
  right: 0px;
  z-index: 2;
  margin-top: 8px;
}

@media (max-width: 750px) {
  #Marketplace .form_filter_select_group {
    min-width: 100px;
  }
}

#Marketplace .form_filter_select_group .form_select_dropdown {
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  position: absolute;
  pointer-events: visible;
  width: 100%;
  right: 0px;
  z-index: 2;
  margin-top: 8px;
}
/*# sourceMappingURL=Marketplace.css.map */