* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "VT323", monospace;
}

body {
  margin: 0 auto;
  padding: 0;
  color: #000000;
}

body .container_section {
  max-width: 1440px;
  margin: auto;
}

.font_size_35 {
  font-size: 35px;
}

@media (max-width: 1440px) {
  .font_size_35.lg_responsive {
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .font_size_35.sm_responsive {
    font-size: 10px;
  }
}

.font_size_34 {
  font-size: 34px;
}

@media (max-width: 750px) {
  .font_size_34.sm_responsive {
    font-size: 14px;
  }
}

.font_size_50 {
  font-size: 50px;
}

@media (max-width: 750px) {
  .font_size_50.sm_responsive {
    font-size: 28px;
  }
}

@media (max-width: 550px) {
  .font_size_50.sm_sm_responsive {
    font-size: 18px;
  }
}

.font_size_57 {
  font-size: 57px;
}

@media (max-width: 1440px) {
  .font_size_57.lg_responsive {
    font-size: 35px;
  }
}

@media (max-width: 750px) {
  .font_size_57.sm_responsive {
    font-size: 18px;
  }
}

.font_size_30 {
  font-size: 30px;
}

@media (max-width: 1440px) {
  .font_size_30.lg_responsive {
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  .font_size_30.sm_responsive {
    font-size: 12px;
  }
}

.font_size_45 {
  font-size: 45px;
}

@media (max-width: 1440px) {
  .font_size_45.lg_responsive {
    font-size: 30px;
  }
}

@media (max-width: 750px) {
  .font_size_45.sm_responsive {
    font-size: 18px;
  }
}

.font_size_54 {
  font-size: 54px;
}

@media (max-width: 1440px) {
  .font_size_54.sm_responsive {
    font-size: 30px;
  }
}

@media (max-width: 1440px) {
  .font_size_54.sm_responsive {
    font-size: 18px;
  }
}

.font_size_60 {
  font-size: 60px;
}

@media (max-width: 1440px) {
  .font_size_60.lg_responsive {
    font-size: 46px;
  }
}

@media (max-width: 750px) {
  .font_size_60.sm_responsive {
    font-size: 36px;
  }
}

.font_size_40 {
  font-size: 40px;
}

@media (max-width: 750px) {
  .font_size_40.sm_responsive {
    font-size: 20px;
  }
}

.font_size_56 {
  font-size: 56px;
}

@media (max-width: 1440px) {
  .font_size_56.lg_responsive {
    font-size: 44px;
  }
}

@media (max-width: 750px) {
  .font_size_56.sm_responsive {
    font-size: 36px;
  }
}

.font_size_55 {
  font-size: 55px;
}

@media (max-width: 1440px) {
  .font_size_55.lg_responsive {
    font-size: 25px;
  }
}

@media (max-width: 750px) {
  .font_size_55.sm_responsive {
    font-size: 19px;
  }
}

@media (max-width: 750px) {
  .font_size_55.static_responsive {
    font-size: 18px;
  }
}

.font_size_33 {
  font-size: 33px;
}

.font_size_20 {
  font-size: 20px;
}

@media (max-width: 750px) {
  .font_size_20.sm_responsive {
    font-size: 6px;
  }
}

@media (max-width: 750px) {
  .font_size_20.lg_responsive {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  .font_size_20.card_responsize {
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  .font_size_20.type_responsive {
    font-size: 10px;
  }
}

@media (max-width: 750px) {
  .font_size_20.table_responsive {
    font-size: 13px;
  }
}

.font_size_24 {
  font-size: 24px;
}

@media (max-width: 1440px) {
  .font_size_24.lg_responsive {
    font-size: 18px;
  }
}

@media (max-width: 750px) {
  .font_size_24.sm_responsive {
    font-size: 10px;
  }
}

@media (max-width: 750px) {
  .font_size_24.filter_responsive {
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .font_size_24.table_responsive {
    font-size: 14px;
  }
}

.font_size_26 {
  font-size: 26px;
}

@media (max-width: 750px) {
  .font_size_26.sm_responsive {
    font-size: 14px;
  }
}

.font_size_16 {
  font-size: 16px;
}

@media (max-width: 750px) {
  .font_size_16.sm_responsive {
    font-size: 11px;
  }
}

.font_size_12 {
  font-size: 12px;
}

.font_size_22 {
  font-size: 22px;
}

@media (max-width: 1440px) {
  .font_size_22.lg_responsive {
    font-size: 18px;
  }
}

@media (max-width: 750px) {
  .font_size_22.sm_responsive {
    font-size: 10px;
  }
}

@media (max-width: 750px) {
  .font_size_22.card_responsive {
    font-size: 14px;
  }
}

.font_size_18 {
  font-size: 18px;
}

@media (max-width: 750px) {
  .font_size_18.sm_responsive {
    font-size: 12px;
  }
}

.font_size_49 {
  font-size: 49px;
}

@media (max-width: 750px) {
  .font_size_49 {
    font-size: 30px;
  }
}

@media (max-width: 750px) {
  .font_size_49.sm_responsive {
    font-size: 18px;
  }
}

.font_size_61 {
  font-size: 61px;
}

@media (max-width: 750px) {
  .font_size_61 {
    font-size: 30px;
  }
}

@media (max-width: 750px) {
  .font_size_61.sm_responsive {
    font-size: 24px;
  }
}

.font_size_65 {
  font-size: 65px;
}

@media (max-width: 750px) {
  .font_size_65.sm_responsive {
    font-size: 18px;
  }
}

.font_size_27 {
  font-size: 27px;
}

@media (max-width: 750px) {
  .font_size_27.sm_responsive {
    font-size: 14px;
  }
}

.bg_dansy {
  background: url("./Static/img/dancy_bg.png") center/100% 100% no-repeat;
}

.text_danger {
  color: #d40000 !important;
}

.text_red {
  color: #ff0000 !important;
}

.text_29 {
  color: #00ff29;
}

.text_white_71 {
  color: rgba(255, 255, 255, 0.71) !important;
}

.text_white_73 {
  color: rgba(255, 255, 255, 0.73) !important;
}

.text_500 {
  color: #ffe500 !important;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

section {
  margin-left: 77px;
  margin-right: 77px;
}

@media (max-width: 750px) {
  section {
    margin-left: 20px;
    margin-right: 20px;
  }
}
/*# sourceMappingURL=App.css.map */