// ..................Global Styles......................
* {
  box-sizing: border-box;
  font-family: "VT323", monospace;
}
body {
  margin: 0 auto;
  padding: 0;

  color: #000000;
  .container_section {
    max-width: 1440px;
    margin: auto;
  }
}
// ..................Global Styles......................End

// .................Heading Styles and fonts.......................
.font_size_35 {
  font-size: 35px;
  // from figma
  // custom
  &.lg_responsive {
    @media (max-width: 1440px) {
      font-size: 20px;
    }
  }
  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 10px;
    }
  }
}
.font_size_34 {
  font-size: 34px;
  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 14px;
    }
  }
}
.font_size_50 {
  font-size: 50px;
  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 28px;
    }
  }
  &.sm_sm_responsive {
    @media (max-width: 550px) {
      font-size: 18px;
    }
  }
}
.font_size_57 {
  font-size: 57px;

  &.lg_responsive {
    @media (max-width: 1440px) {
      font-size: 35px;
    }
  }
  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 18px;
    }
  }
}
.font_size_30 {
  font-size: 30px;
  &.lg_responsive {
    @media (max-width: 1440px) {
      font-size: 12px;
    }
  }
  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 12px;
    }
  }
}
.font_size_45 {
  font-size: 45px;
  &.lg_responsive {
    @media (max-width: 1440px) {
      font-size: 30px;
    }
  }
  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 18px;
    }
  }
}
.font_size_54 {
  font-size: 54px;
  &.sm_responsive {
    @media (max-width: 1440px) {
      font-size: 30px;
    }
  }
  &.sm_responsive {
    @media (max-width: 1440px) {
      font-size: 18px;
    }
  }
}
.font_size_60 {
  font-size: 60px;
  &.lg_responsive {
    @media (max-width: 1440px) {
      font-size: 46px;
    }
  }

  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 36px;
    }
  }
}
.font_size_40 {
  font-size: 40px;
  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 20px;
    }
  }
}
.font_size_56 {
  font-size: 56px;
  &.lg_responsive {
    @media (max-width: 1440px) {
      font-size: 44px;
    }
  }

  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 36px;
    }
  }
}
.font_size_55 {
  font-size: 55px;
  &.lg_responsive {
    @media (max-width: 1440px) {
      font-size: 25px;
    }
  }
  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 19px;
    }
  }
}
.font_size_33 {
  font-size: 33px;
}
.font_size_20 {
  font-size: 20px;
  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 6px;
    }
  }
  &.lg_responsive {
    @media (max-width: 750px) {
      font-size: 16px;
    }
  }
  &.card_responsize {
    @media (max-width: 750px) {
      font-size: 12px;
    }
  }
  &.type_responsive {
    @media (max-width: 750px) {
      font-size: 10px;
    }
  }
  &.table_responsive {
    @media (max-width: 750px) {
      font-size: 13px;
    }
  }
}
.font_size_24 {
  font-size: 24px;
  &.lg_responsive {
    @media (max-width: 1440px) {
      font-size: 18px;
    }
  }
  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 10px;
    }
  }
  &.filter_responsive {
    @media (max-width: 750px) {
      font-size: 20px;
    }
  }
  &.table_responsive {
    @media (max-width: 750px) {
      font-size: 14px;
    }
  }
}
.font_size_26 {
  font-size: 26px;
  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 14px;
    }
  }
}
.font_size_16 {
  font-size: 16px;
  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 11px;
    }
  }
}
.font_size_12 {
  font-size: 12px;
}
.font_size_22 {
  font-size: 22px;
  &.lg_responsive {
    @media (max-width: 1440px) {
      font-size: 18px;
    }
  }

  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 10px;
    }
  }
}
.font_size_18 {
  font-size: 18px;
  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 12px;
    }
  }
}
.font_size_49 {
  font-size: 49px;
  @media (max-width: 750px) {
    font-size: 30px;
  }
  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 18px;
    }
  }
}
.font_size_61 {
  font-size: 61px;
}
.font_size_65 {
  font-size: 65px;
}
.font_size_27 {
  font-size: 27px;
  &.sm_responsive {
    @media (max-width: 750px) {
      font-size: 14px;
    }
  }
}
// .................Heading Styles and fonts.......................End

// .................. bg, color Styles......................

.bg_dansy {
  background: url("./Static/img/dancy_bg.png") center / 100% 100% no-repeat;
}
.text_danger {
  color: #d40000 !important;
}
.text_red {
  color: #ff0000 !important;
}
.text_29 {
  color: #00ff29;
}
.text_white_71 {
  color: rgba(255, 255, 255, 0.71) !important;
}
.text_white_73 {
  color: rgba(255, 255, 255, 0.73) !important;
}
.text_500 {
  color: #ffe500 !important;
}
// ..................btn_dansy bg, color Styles......................End

//.................button default style.............
button {
  border: none;
  outline: none;
  background: transparent;
}
//.................button default style.............End

// .............Section styles................
section {
  margin-left: 77px;
  margin-right: 77px;
  @media (max-width: 750px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}
// .............Section styles................End
