// ..................Global Styles......................
* {
  box-sizing: border-box;
  font-family: "VT323", monospace;
}
body {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  color: #000000;
}
// ..................Global Styles......................End

// .................Heading Styles and fonts.......................
.font_size_35 {
  font-size: 35px;
  &.sm_responsive {
    @media (max-width: 360px) {
      font-size: 10px;
    }
  }
}
.font_size_50 {
  font-size: 50px;
  &.sm_responsive {
    @media (max-width: 360px) {
      font-size: 28px;
    }
  }
}
.font_size_57 {
  font-size: 57px;
  &.sm_responsive {
    @media (max-width: 360px) {
      font-size: 18px;
    }
  }
}
.font_size_30 {
  font-size: 30px;
}
.font_size_45 {
  font-size: 45px;
  &.sm_responsive {
    @media (max-width: 360px) {
      font-size: 18px;
    }
  }
}
.font_size_54 {
  font-size: 54px;
  &.sm_responsive {
    @media (max-width: 360px) {
      font-size: 18px;
    }
  }
}
.font_size_60 {
  font-size: 60px;
  &.sm_responsive {
    @media (max-width: 360px) {
      font-size: 36px;
    }
  }
}
.font_size_40{
  font-size: 40px;
}
.font_size_56 {
  font-size: 56px;
}
.font_size_55 {
  font-size: 55px;
}
.font_size_33 {
  font-size: 33px;
}
.font_size_20 {
  font-size: 20px;
}
.font_size_24 {
  font-size: 24px;
}
.font_size_16 {
  font-size: 16px;
}
.font_size_12 {
  font-size: 12px;
}
.font_size_22 {
  font-size: 22px;
}
.font_size_18 {
  font-size: 18px;
}
// .................Heading Styles and fonts.......................End

// .................. bg, color Styles......................

.bg_dansy {
  background: url("./Static/img/dancy_bg.png") center / 100% 100% no-repeat;
}
.text_danger{
  color: #D40000;
}
.text_29{
  color: #00FF29;
}
// ..................btn_dansy bg, color Styles......................End

//.................button default style.............
button {
  border: none;
  outline: none;
  background: transparent;
}
//.................button default style.............End

// .............Section styles................
section {
  margin-left: 77px;
  margin-right: 77px;
}
// .............Section styles................End
