#Navigation {
  nav.navigation_wrapper {
    padding-top: 51px;
    padding-left: 75px;
    padding-right: 75px;
    @media (max-width: 750px) {
      padding-top: 24px;
    }
    @media (max-width: 1440px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    .nav_list {
      display: flex;
      align-items: center;
      li:not(:last-child) {
        margin-right: 14.67px;
        @media (max-width: 750px) {
          margin-right: 3.72px;
        }
      }
      a {
        width: 202.33px;
        height: 62.38px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1440px) {
          width: 102.33px;
          height: 40.38px;
        }
        @media (max-width: 750px) {
          width: 50.23px;
          height: 18.64px;
        }
      }
    }
  }
}
#Navigation2 {
  padding-top: 59px;
  padding-bottom: 31px;
  .arrow_btn {
    img {
      width: 75.41px;
      height: 84px;
      @media (max-width: 1440px) {
        width: 54.24px;
        height: 55px;
      }
      @media (max-width: 750px) {
        width: 24.24px;
        height: 27px;
      }
    }
  }
  .recruit_btn {
    width: 289px;
    height: 89.11px;
    @media (max-width: 1440px) {
      width: 180px;
      height: 55px;
    }
    @media (max-width: 750px) {
      width: 78.14px;
      height: 29px;
    }
  }
  .connect_wallet_btn {
    width: 223px;
    height: 69px;
    @media (max-width: 1440px) {
      width: 200px;
      height: 55px;
    }
    @media (max-width: 750px) {
      width: 82px;
      height: 21px;
    }
  }
  .my_nft {
    width: 135px;
    height: 57px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
}
